<html>
    <head>
        <title>Github img taker</title>
        <style>
            input{
                width: 200px;
                height: 40px;
                background-color: black;
                color: wheat;
                text-align: center;
                border: none;
                border-radius: 30px;
                outline: 0;
                margin-bottom: 20px;
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
            }
            button{
                border-radius: 30px;
                outline: 0;
                width: 100px;
                height: 30px;
                font-size: 20px;
                background-color: darkslateblue;
                color: black;
                border: none;
                margin-left: 50px;
                font-family: 'Times New Roman', Times, serif;
            }
            #text{
                color: black;
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                margin-left: 60px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>
    <body>
        <input type="text" name="username" autocomplete="off">
        <br>
        <button id="jquery">Done</button>
        <p id="text"></p>
        <img src="" width="400" height="400">
        <script>
            $("#jquery").click(function(){
                var deger = $("input").val();
                var url = "https://api.github.com/users/" + deger;
                console.log(url);
                $.getJSON(url)
                .done(function(data){
                    console.log(data);
                    $("#text").text(data.avatar_url);
                    var resim =$("img").attr({
                        src : data.avatar_url
                    });
                });
            });
        </script>
    </body>
</html>
